<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">ASP.NET</h1>
        <p class="lead">Click on the Authenticated Page in the NavBar to login with Descope and test the Sample API.</p>
    </section>
</main>